create
database [J6Store]
USE [J6Store]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 4/12/2021 3:07:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts]
(
    [
    Username] [
    nvarchar]
(
    50
) NOT NULL,
    [Password] [nvarchar]
(
    50
) NOT NULL,
    [Fullname] [nvarchar]
(
    50
) NOT NULL,
    [Email] [nvarchar]
(
    50
) NOT NULL,
    [Photo] [nvarchar]
(
    50
) NOT NULL,
    CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED
(
[
    Username] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Authorities]    Script Date: 4/12/2021 3:07:02 PM ******/
    SET ANSI_NULLS
  ON
    GO
    SET QUOTED_IDENTIFIER
  ON
    GO
CREATE TABLE [dbo].[Authorities]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Username] [nvarchar]
(
    50
) NOT NULL,
    [RoleId] [nvarchar]
(
    10
) NOT NULL,
    CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/12/2021 3:07:02 PM ******/
    SET ANSI_NULLS
  ON
    GO
    SET QUOTED_IDENTIFIER
  ON
    GO
    SET ANSI_PADDING
  ON
    GO
CREATE TABLE [dbo].[Categories]
(
    [
    Id] [
    char]
(
    4
) NOT NULL,
    [Name] [nvarchar]
(
    50
) NOT NULL,
    CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
    SET ANSI_PADDING OFF
    GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 4/12/2021 3:07:02 PM ******/
    SET ANSI_NULLS
  ON
    GO
    SET QUOTED_IDENTIFIER
  ON
    GO
CREATE TABLE [dbo].[OrderDetails]
(
    [
    Id] [
    bigint]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [OrderId] [bigint] NOT NULL,
    [ProductId] [int] NOT NULL,
    [Price] [float] NOT NULL,
    [Quantity] [int] NOT NULL,
    CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/12/2021 3:07:02 PM ******/
    SET ANSI_NULLS
  ON
    GO
    SET QUOTED_IDENTIFIER
  ON
    GO
CREATE TABLE [dbo].[Orders]
(
    [
    Id] [
    bigint]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Username] [nvarchar]
(
    50
) NOT NULL,
    [CreateDate] [datetime] NOT NULL,
    [Address] [nvarchar]
(
    100
) NOT NULL,
    CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/12/2021 3:07:02 PM ******/
    SET ANSI_NULLS
  ON
    GO
    SET QUOTED_IDENTIFIER
  ON
    GO
    SET ANSI_PADDING
  ON
    GO
CREATE TABLE [dbo].[Products]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Name] [nvarchar]
(
    50
) NOT NULL,
    [Image] [nvarchar]
(
    50
) NOT NULL,
    [Price] [float] NOT NULL,
    [CreateDate] [date] NOT NULL,
    [Available] [bit] NOT NULL,
    [CategoryId] [char]
(
    4
) NOT NULL,
    CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
    SET ANSI_PADDING OFF
    GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/12/2021 3:07:02 PM ******/
    SET ANSI_NULLS
  ON
    GO
    SET QUOTED_IDENTIFIER
  ON
    GO
CREATE TABLE [dbo].[Roles]
(
    [
    Id] [
    nvarchar]
(
    10
) NOT NULL,
    [Name] [nvarchar]
(
    50
) NOT NULL,
    CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Students]    Script Date: 4/12/2021 3:07:02 PM ******/
    SET ANSI_NULLS
  ON
    GO
    SET QUOTED_IDENTIFIER
  ON
    GO
CREATE TABLE [dbo].[Students]
(
    [
    email] [
    nvarchar]
(
    50
) NOT NULL,
    [fullname] [nvarchar]
(
    50
) NOT NULL,
    [marks] [float] NOT NULL,
    [gender] [bit] NOT NULL,
    [country] [nvarchar]
(
    2
) NOT NULL,
    CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED
(
[
    email] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
    INSERT [dbo].[Accounts]
(
    [
    Username], [
    Password], [
    Fullname], [
    Email],
[
    Photo]
) VALUES
(
    N'ALFKI',
    N'alfki',
    N'Maria Anders',
    N'alfki@gmail.com',
    N'user.png'
)
    INSERT [dbo].[Accounts]
(
    [
    Username], [
    Password], [
    Fullname], [
    Email],
[
    Photo]
) VALUES
(
    N'ANATR',
    N'anatr',
    N'Ana Trujillo',
    N'anatr@gmail.com',
    N'user.png'
)
    INSERT [dbo].[Accounts]
(
    [
    Username], [
    Password], [
    Fullname], [
    Email],
[
    Photo]
) VALUES
(
    N'ANTON',
    N'anton',
    N'Antonio Moreno',
    N'anton@gmail.com',
    N'user.png'
)
    SET IDENTITY_INSERT [dbo].[Authorities]
  ON
    INSERT [dbo].[Authorities]
(
    [
    Id], [
    Username],
[
    RoleId]
) VALUES
(
    2,
    N'ALFKI',
    N'CUST'
)
    INSERT [dbo].[Authorities]
(
    [
    Id], [
    Username],
[
    RoleId]
) VALUES
(
    3,
    N'ANATR',
    N'CUST'
)
    INSERT [dbo].[Authorities]
(
    [
    Id], [
    Username],
[
    RoleId]
) VALUES
(
    4,
    N'ANTON',
    N'CUST'
)
    SET IDENTITY_INSERT [dbo].[Authorities] OFF
    INSERT [dbo].[Categories]
(
    [
    Id],
[
    Name]
) VALUES
(
    N'1000',
    N'Đồng hồ đeo tay'
)
    INSERT [dbo].[Categories]
(
    [
    Id],
[
    Name]
) VALUES
(
    N'1001',
    N'Máy tính xách tay'
)
    INSERT [dbo].[Categories]
(
    [
    Id],
[
    Name]
) VALUES
(
    N'1002',
    N'Máy ảnh'
)
    SET IDENTITY_INSERT [dbo].[OrderDetails]
  ON
    INSERT [dbo].[OrderDetails]
(
    [
    Id], [
    OrderId], [
    ProductId], [
    Price],
[
    Quantity]
) VALUES
(
    100005,
    10249,
    1051,
    42.4,
    40
)
    INSERT [dbo].[OrderDetails]
(
    [
    Id], [
    OrderId], [
    ProductId], [
    Price],
[
    Quantity]
) VALUES
(
    100006,
    10250,
    1041,
    7.7,
    10
)
    INSERT [dbo].[OrderDetails]
(
    [
    Id], [
    OrderId], [
    ProductId], [
    Price],
[
    Quantity]
) VALUES
(
    100007,
    10250,
    1051,
    42.4,
    35
)
    GO
    SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
    SET IDENTITY_INSERT [dbo].[Orders]
  ON
    INSERT [dbo].[Orders]
(
    [
    Id], [
    Username], [
    CreateDate],
[
    Address]
) VALUES
(
    10249,
    N'TOMSP',
    CAST
(
    0x000089B100000000 AS
    DateTime
), N'Luisenstr. 48')
    INSERT [dbo].[Orders]
(
    [
    Id], [
    Username], [
    CreateDate],
[
    Address]
) VALUES
(
    10250,
    N'HANAR',
    CAST
(
    0x000089B400000000 AS
    DateTime
), N'Rua do Paço, 67')
    INSERT [dbo].[Orders]
(
    [
    Id], [
    Username], [
    CreateDate],
[
    Address]
) VALUES
(
    10251,
    N'VICTE',
    CAST
(
    0x000089B400000000 AS
    DateTime
), N'2, rue du Commerce')
    GO
    SET IDENTITY_INSERT [dbo].[Orders] OFF
    SET IDENTITY_INSERT [dbo].[Products]
  ON
    INSERT [dbo].[Products]
(
    [
    Id], [
    Name], [
    Image], [
    Price], [
    CreateDate], [
    Available],
[
    CategoryId]
) VALUES
(
    1001,
    N'Aniseed Syrup',
    N'1001.jpg',
    190,
    CAST
(
    0xD6070B00 AS
    Date
), 0, N'1000')
    INSERT [dbo].[Products]
(
    [
    Id], [
    Name], [
    Image], [
    Price], [
    CreateDate], [
    Available],
[
    CategoryId]
) VALUES
(
    1002,
    N'Change',
    N'1002.jpg',
    19,
    CAST
(
    0xB80B0B00 AS
    Date
), 0, N'1000')
    INSERT [dbo].[Products]
(
    [
    Id], [
    Name], [
    Image], [
    Price], [
    CreateDate], [
    Available],
[
    CategoryId]
) VALUES
(
    1003,
    N'Aniseed Syrup',
    N'1003.jpg',
    10,
    CAST
(
    0x26FE0A00 AS
    Date
), 1, N'1001')
    SET IDENTITY_INSERT [dbo].[Products] OFF
    INSERT [dbo].[Roles]
(
    [
    Id],
[
    Name]
) VALUES
(
    N'CUST',
    N'Customers'
)
    INSERT [dbo].[Roles]
(
    [
    Id],
[
    Name]
) VALUES
(
    N'DIRE',
    N'Directors'
)
    INSERT [dbo].[Roles]
(
    [
    Id],
[
    Name]
) VALUES
(
    N'STAF',
    N'Staffs'
)
    INSERT [dbo].[Students]
(
    [
    email], [
    fullname], [
    marks], [
    gender],
[
    country]
) VALUES
(
    N'anhntps10770@fpt.edu.vn',
    N'Nguyễn Tiến Anh',
    10,
    1,
    N'VN'
)
    INSERT [dbo].[Students]
(
    [
    email], [
    fullname], [
    marks], [
    gender],
[
    country]
) VALUES
(
    N'chaulnnps10835@fpt.edu.vn',
    N'Lê Nguyễn Ngọc Châu',
    7,
    0,
    N'VN'
)
    INSERT [dbo].[Students]
(
    [
    email], [
    fullname], [
    marks], [
    gender],
[
    country]
) VALUES
(
    N'cuonglcps10817@fpt.edu.vn',
    N'Lý Chí Cường',
    6,
    1,
    N'VN'
)
ALTER TABLE [dbo].[Accounts] ADD CONSTRAINT [DF_Customers_Photo] DEFAULT (N'Photo.gif') FOR [Photo]
    GO
ALTER TABLE [dbo].[OrderDetails] ADD CONSTRAINT [DF_Order_Details_UnitPrice] DEFAULT ((0)) FOR [Price]
    GO
ALTER TABLE [dbo].[OrderDetails] ADD CONSTRAINT [DF_Order_Details_Quantity] DEFAULT ((1)) FOR [Quantity]
    GO
ALTER TABLE [dbo].[Orders] ADD CONSTRAINT [DF_Orders_OrderDate] DEFAULT (getdate()) FOR [CreateDate]
    GO
ALTER TABLE [dbo].[Products] ADD CONSTRAINT [DF_Products_Image] DEFAULT (N'Product.gif') FOR [Image]
    GO
ALTER TABLE [dbo].[Products] ADD CONSTRAINT [DF_Products_UnitPrice] DEFAULT ((0)) FOR [Price]
    GO
ALTER TABLE [dbo].[Products] ADD CONSTRAINT [DF_Products_ProductDate] DEFAULT (getdate()) FOR [CreateDate]
    GO
ALTER TABLE [dbo].[Products] ADD CONSTRAINT [DF_Products_Available] DEFAULT ((1)) FOR [Available]
    GO
ALTER TABLE [dbo].[Students] ADD CONSTRAINT [DF_Students_gender] DEFAULT ((1)) FOR [gender]
    GO
ALTER TABLE [dbo].[Authorities] WITH CHECK ADD CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY ([RoleId])
    REFERENCES [dbo].[Roles] ([Id])
    ON
UPDATE CASCADE
ON
DELETE
CASCADE
GO
ALTER TABLE [dbo].[Authorities] CHECK CONSTRAINT [FK_UserRoles_Roles]
    GO
ALTER TABLE [dbo].[Authorities] WITH CHECK ADD CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY ([Username])
    REFERENCES [dbo].[Accounts] ([Username])
    ON
UPDATE CASCADE
ON
DELETE
CASCADE
GO
ALTER TABLE [dbo].[Authorities] CHECK CONSTRAINT [FK_UserRoles_Users]
    GO
ALTER TABLE [dbo].[OrderDetails] WITH CHECK ADD CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY ([OrderId])
    REFERENCES [dbo].[Orders] ([Id])
    ON
UPDATE CASCADE
ON
DELETE
CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
    GO
ALTER TABLE [dbo].[OrderDetails] WITH CHECK ADD CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY ([ProductId])
    REFERENCES [dbo].[Products] ([Id])
    ON
UPDATE CASCADE
    GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
    GO
ALTER TABLE [dbo].[Orders] WITH CHECK ADD CONSTRAINT [FK_Orders_Customers] FOREIGN KEY ([Username])
    REFERENCES [dbo].[Accounts] ([Username])
    ON
UPDATE CASCADE
ON
DELETE
CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
    GO
ALTER TABLE [dbo].[Products] WITH CHECK ADD CONSTRAINT [FK3ess0s7i9qs6sim1pf9kxhkpq] FOREIGN KEY ([CategoryId])
    REFERENCES [dbo].[Categories] ([Id])
    ON
DELETE
CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK3ess0s7i9qs6sim1pf9kxhkpq]
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã khách hàng', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Accounts', @level2type=N'COLUMN',@level2name=N'Username'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mật khẩu đăng nhập', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Accounts', @level2type=N'COLUMN',@level2name=N'Password'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Họ và tên', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Accounts', @level2type=N'COLUMN',@level2name=N'Fullname'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Accounts', @level2type=N'COLUMN',@level2name=N'Email'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hình ảnh', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Accounts', @level2type=N'COLUMN',@level2name=N'Photo'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã loại', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Categories', @level2type=N'COLUMN',@level2name=N'Id'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên tiếng Việt', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Categories', @level2type=N'COLUMN',@level2name=N'Name'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã chi tiết', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetails', @level2type=N'COLUMN',@level2name=N'Id'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã hóa đơn', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetails', @level2type=N'COLUMN',@level2name=N'OrderId'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã hàng hóa', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetails', @level2type=N'COLUMN',@level2name=N'ProductId'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn giá bán', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetails', @level2type=N'COLUMN',@level2name=N'Price'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng mua', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OrderDetails', @level2type=N'COLUMN',@level2name=N'Quantity'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã hóa đơn', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'Id'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã khách hàng', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'Username'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày đặt hàng', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'CreateDate'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Địa chỉ nhận', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'COLUMN',@level2name=N'Address'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã hàng hóa', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'Id'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên hàng hóa', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'Name'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hình ảnh', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'Image'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn giá', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'Price'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày sản xuất', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'CreateDate'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đang kinh doanh ?', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'Available'
    GO
    EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã loại, FK', @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'COLUMN',@level2name=N'CategoryId'
    GO
